<div class="column is-2 menu">
    <p class="title is-2 has-text-white homepage" onclick="location.href='/'">ISOT Manager</p>
    <p class="title is-5 has-text-white">v1.0</p>
    <div class="card">
        <div class="card-image">
            <figure class="image is-1by1">
                <img src="/public/pictures/<%=user._id %>.jpg" alt="\n\nProfile Image" onerror="this.onerror=null; this.src='/public/pictures/<%=user._id %>.png'">
            </figure>
        </div>
        <div class="card-content">
            <span class="tag is-dark" id="username" data-me="<%= user.username %>"><%= user.username %></span>
            <div class="content" id="userinfo">
                <%= user.userinfo %>
            </div>
        </div>
        <footer class="card-footer">
            <a href="/logout" class="card-footer-item">Logout</a>
            <a href="/change_info" class="card-footer-item">Change Info</a>
        </footer>
    </div>

    <a href="/">
        <div class="each-menu title is-4 has-text-white">
            <i class="fa-solid fa-laptop-file"></i>
            <p>업무 인수인계 페이지</p>
        </div>
    </a>
    <a href="/schedule">
        <div class="each-menu title is-4 has-text-white">
            <i class="fa-solid fa-calendar-minus"></i>
            <p>스케쥴표</p>
        </div>
    </a>
    <a href="/memo">
        <div class="each-menu title is-4 has-text-white">
            <i class="fa-solid fa-file-pen"></i>
            <p>메모</p>
        </div>
    </a>
    <a href="/chat">
        <div class="each-menu title is-4 has-text-white">
            <i class="fa-brands fa-facebook-messenger"></i>
            <p class="is-2">채팅방</p>
            <button class="button is-danger" id="notread"><%= user.notread %></button>
        </div>
    </a>
</div>